<h2>FAQ</h2>

<h3>What is this?</h3>
<p>This is a demonstration of Open Web App Store functionality based on Mozilla Labs Open Web Applications specification proposal. It's built in Ruby on Rails and it's shiny and we likes it.</p>

<h3>What is C4 Atlanta?</h3>

<p>We are a nonprofit organization whose mission is to build a foundation of research, technology and education for a sustainable, creative economy in the Atlanta region. And stuff.</p>

<h3>What is Start Atlanta</h3>
<p>It's this thing that happened.</p>

<h3>What's next?</h3>
<p>The code behind this demo will be available and actively maintained at github.</p>

